@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.wrap {
    padding: 20px;
}

table {
    width: 100%;
    font-size: 11px;
    border: 1px solid #000;
    border-collapse: collapse;
}

table th {
    padding: 8px;
    border: 1px solid #000;
    background-color: #dedede;
}

table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000;
    background-color: #ffffff;
}

tr > td:last-child div {
    display: flex;
    justify-content: space-evenly;
}
